.box {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.left::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-image: url("../../img/mobil.png");
  background-repeat: no-repeat;

  background-size: cover;
  background-position-x: center;
}

.left {
  position: relative;
  width: 50vw;
  /* background: url('../../img/mobil.png'); */

  /* background-image: linear-gradient(
      rgba(39, 39, 39, 0.7),
      rgba(39, 39, 39, 0.7)
    ),
    url("../../img/mobil.png"); */
  background: #272727;
  

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
}

.right {
  width: 50vw;
}


@media screen and (max-width:900px) {
  .box {
    height: 100vh;
    width: 100vw;
  
    flex-direction: column;
  }

  .left{
    width: 100vw;
    height: 50vh;
  }
}